///
/// Indivisible by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* List */
	ol {
		list-style: decimal;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1.25em;

		li {
			padding-left: 0.25em;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1em;

		li {
			padding-left: 0.5em;
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: solid 1px _palette(border);
				padding: 0.5em 0;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding-left: 0;

				.icon {
					display: inline-block;
					width: 2.5em;
					height: 2.5em;
					line-height: 2.5em;
					text-align: center;

					&:before {
						font-size: 1.25rem;
					}
				}
			}
		}

		&.actions {
			cursor: default;
			list-style: none;
			margin-left: (_size(element-margin) * -0.5);
			margin-top: (_size(element-margin) * -0.5);
			padding-left: 0;

			li {
				display: inline-block;
				margin: (_size(element-margin) * 0.5) 0 0 (_size(element-margin) * 0.5);
				padding-left: 0;
				vertical-align: middle;

				&:last-child {
					padding-right: 0;
				}
			}

			&.vertical {
				margin-top: 0;
				margin-left: 0;

				li {
					display: block;
					margin: 0;
					padding: (_size(element-margin) * 0.75) 0 0 0;
					position: relative;

					&:first-child {
						padding-top: 0;
					}

					> * {
						margin-bottom: 0;
					}

					> .button {
						min-width: 20.6em;
					}
				}

				&.special {
					li {
						&:after {
							background-color: _palette(border);
							content: '';
							display: block;
							height: (_size(element-margin) * 0.75);
							left: 50%;
							position: absolute;
							top: 100%;
							width: 1px;
						}

						&:last-child {
							&:after {
								display: none;
							}
						}
					}
				}
			}

			@include breakpoint(small) {
				&.vertical {
					&.special {
						li {
							padding: (_size(element-margin) * 0.5) 0 0 0;

							&:after {
								height: (_size(element-margin) * 0.5);
							}
						}
					}
				}
			}

			&.spinY {
				li {
					@include vendor('perspective', '1000px');

					a {
						@include vendor('transition', (
							'background-color #{_duration(transition)} ease',
							'box-shadow #{_duration(transition)} ease',
							'color #{_duration(transition)} ease',
							'transform 0.5s ease-in'
						));

						&.active {
							@include vendor('transform', 'rotateY(480deg)');
						}
					}
				}
			}

			&.spinX {
				li {
					@include vendor('perspective', '1000px');

					a {
						@include vendor('transition', (
							'background-color #{_duration(transition)} ease',
							'box-shadow #{_duration(transition)} ease',
							'color #{_duration(transition)} ease',
							'transform 0.5s ease-in'
						));

						&.active {
							@include vendor('transform', 'rotateX(480deg)');
						}
					}
				}
			}
		}
	}

	dl {
		margin: 0 0 _size(element-margin) 0;

		dt {
			display: block;
			font-weight: _font(weight-bold);
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		dd {
			margin-left: _size(element-margin);
		}
	}


.eventlist-datetag {
    display: table;
    position: absolute;
    top: 10px;
    right: 10px;
    height: auto;
    min-height: 70px;
    width: 70px;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    box-sizing: border-box
}

body:not(.event-thumbnails) .eventlist-datetag {
    position: static;
    background: #e8ecec
}

.eventlist-event:not(.eventlist-event--hasimg) .eventlist-datetag {
    top: 0;
    background: #e8ecec
}

.eventlist-datetag-inner {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 6px;
    color: inherit;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0
}

.eventlist-datetag-startdate--month,.eventlist-datetag-startdate--day,.eventlist-datetag-time,.eventlist-datetag-enddate {
    margin: 3px 0;
    line-height: 1em;
    text-transform: uppercase;
    white-space: nowrap
}

.eventlist-event--past .eventlist-datetag-startdate--month,.eventlist-event--past .eventlist-datetag-startdate--day,.eventlist-event--past .eventlist-datetag-time,.eventlist-event--past .eventlist-datetag-enddate {
    opacity: .3
}

.eventlist-datetag-time,.eventlist-datetag-enddate {
    border-top: 1px solid #ddd;
    margin: 6px 0 0 0;
    padding-top: 6px;
    font-size: 11px
}

.eventlist-datetag-startdate--month {
    font-size: 14px;
    margin-top: 6px
}

.eventlist-datetag-startdate--day {
    font-size: 26px
}


.eventlist-datetag-enddate:before {
    content: "to "
}

.eventlist-datetag-status {
    display: none;
    position: absolute;
    top: 0px;
    left: 35px;
    width: 1px;
    height: 70px;
    background: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.eventlist-event--past .eventlist-datetag-status {
    display: block
}

.eventlist-event--past.eventlist-event--multiday .eventlist-datetag-status,body.event-date-label-time .eventlist-event--past .eventlist-datetag-status {
    top: 0px;
    height: 85px;
    -webkit-transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    -ms-transform: rotate(38deg);
    -o-transform: rotate(38deg);
    transform: rotate(38deg)
}

.eventlist-column-info {
    float: left;
    width: 65%;
    padding: 0 0 0 34px;
    box-sizing: border-box
}
